.pin {
  .icon {
    &.Active {
      color: green;
      cursor: pointer;
    }
    &.Bullwhip {
      color: goldenrod;
      cursor: pointer;
    }
    &.Dormant {
      color: red;
      cursor: pointer;
    }
    &.Inactive {
      color: grey;
      cursor: pointer;
    }
  }
}
